/.lock
/Portascope.peri.xml
/Portascope.xml
/work_pnr
/work_pt
/work_syn
*.db
*.bit
*.bsd
*.clstdb
*.clstmap
*.cnst
*.csv
*.dsgnlib
*.hex
*.ini
*.io
*.json
*.log
*.lpf
*.netlist
*.out
*.place
*.qplace
*.route
*.rpt
*.rs
*.vdb
*.vh
*.vhd
*.xml
*.pickle
*.mem
*.do